*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
header{
    background-color: burlywood;
    padding: 2 rem 2 rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
}
main{
    padding: 2 rem 2 rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
footer{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    background-color: aqua;

}
